# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv/
env/
venv/

# Django files
db.sqlite3
db.sqlite3-journal
**/media/
**/local_settings.py

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
node_modules/
